<?xml version='1.1' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.18">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@2.3.13">
          <name>deployKey</name>
          <description></description>
          <defaultValue></defaultValue>
          <credentialType>com.cloudbees.plugins.credentials.common.StandardCredentials</credentialType>
          <required>false</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes/>
  <builders>
    <hudson.plugins.groovy.Groovy plugin="groovy@2.3">
      <scriptSource class="hudson.plugins.groovy.StringScriptSource">
        <command>node {
  stage(&apos;Build&apos;) {
    ls &apos;./build.sh&apos;
  }
  stage(&apos;Deploy&apos;) {
    withCredentials([
      // the credentialsId must match the credential name in the Pipeline properties parameters above
      usernameColonPassword(credentialsId: &apos;deployKey&apos;, variable: &apos;DEPLOY_KEY&apos;)
    ]) {
      cat &apos;curl -u &quot;$DEPLOY_KEY&quot; -XPOST https://webhooks.example.com/promote/&apos;
    }
  }
}</command>
      </scriptSource>
      <groovyName>(Default)</groovyName>
      <parameters></parameters>
      <scriptParameters></scriptParameters>
      <properties></properties>
      <javaOpts></javaOpts>
      <classPath></classPath>
    </hudson.plugins.groovy.Groovy>
  </builders>
  <publishers/>
  <buildWrappers/>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
  </executionStrategy>
</matrix-project>